.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo_ranking{
    margin-left: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
    color: var(--color-cards);
}

.contenido_ranking{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 25px;
    color: var(--color-fondo);
}

.card_ranking_cantidad,
.card_ranking_cierre{
    margin: 0 10px;
    margin-top: 2rem;
    height: 30rem;
    min-width: 45%;
    border-radius: 20px;
    border-bottom: 1px solid var(--color-iconos);
    background: var(--color-cards);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_ranking_titulo{
    height: 5rem;
    min-width: 100%;
    border-radius: 20px;
    border-bottom: 1px solid var(--color-iconos);
    background: var(--color-iconos);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    text-align: center;
}