{{#partial "principal" }}

    <div id="formularioDiv">
    <form id="formulario" method="POST" action="/login">
        <div class="label">
        <label for="nombre">Nombre</label>
        <input class="input"  id="nombre"  type="text" name="nombre" placeholder="Nombre">
        </div>
        <div class="label">
        <label for="contraseña">Contraseña</label>
        <input  class="input" id="contraseña"  type="password" name="contrasenia" placeholder="Contraseña">
            <a href="/login">¿Olvidaste tu contraseña?</a>
        </div>
        <div>
        <input id= "botonEnviar" type="submit">
        </div>

    </form>
    </div>


{{/partial}}

{{> layout.html.hbs }}