{{#partial "principal" }}
   <div>
     <h1>Establecimientos</h1>
        <div class='content-card'>
            <ul>
                {{#establecimientos}}
                    <li><a href="/establecimiento/{{id}}">{{nombre}}</a></li>
                {{/establecimientos}}
            </ul>
        </div>
   </div>

{{/partial}}

{{> layout.html.hbs }}