<html>

<head>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
	<main>

     {{#block "principal" }}
     {{/block}}

	</main>
	<footer>
        @Copyright Conectados 2068
	</footer>
</body>

</html>
