 {{#partial "principal" }}
<body>
  <div class="container">
    <div class="card_ranking_cantidad">
      <div class="card_ranking_titulo">
        <div class = "titulo_ranking">
            <h2>Ranking por cantidad de incidentes</h2>
        </div>
      </div>
      <div class = "contenido_ranking">
            <ul>
                <li>1-SuperVillanos</li>
                <li>2-SuperHeroes</li>
                <li>3-SuperHeroes</li>
                <li>4-SuperHeroes</li>
                <li>5-SuperHeroes</li>
                <li>6-SuperHeroes</li>
                <li>7-SuperHeroes</li>
                <li>8-SuperHeroes</li>
                <li>9-SuperHeroes</li>
                <li>10-SuperHeroes</li>
                {{#each rankingCantidad}}
                  <li>{{this}}</li>
                {{/each}}
            </ul>
      </div>
    </div>
        <div class="card_ranking_cierre">
            <div class="card_ranking_titulo">
                <div class="titulo_ranking">
                  <h2>Ranking por promedio de tiempo de cierre</h2>
                </div>
            </div>
          <div class = "contenido_ranking">
            <ul>
                <li>1-SuperVillanos</li>
                <li>2-SuperHeroes</li>
                <li>3-SuperHeroes</li>
                <li>4-SuperHeroes</li>
                <li>6-SuperHeroes</li>
                <li>5-SuperHeroes</li>
                <li>7-SuperHeroes</li>
                <li>8-SuperHeroes</li>
                <li>9-SuperHeroes</li>
                <li>10-SuperHeroes</li>
                {{#each rankingCierre}}
                  <li>{{this}}</li>
                {{/each}}
            </ul>
          </div>
        </div>
    </div>
</body>
 {{/partial}}
 {{> layoutConBarra.html.hbs }}