 {{#partial "principal" }}
<body>
  <div class="container">
    <div class="card_ranking_cantidad">
      <div class="card_ranking_titulo">
        <div class = "titulo_ranking">
            <h2>Ranking por cantidad de incidentes</h2>
        </div>
      </div>
      <div class = "card_ranking">
        <ul class = "contenido_ranking">
                {{#each rankingCantidad}}
                  <li>{{this}}</li>
                {{/each}}
        </ul>
        <ul class="contenido_ranking">
                {{#each cantidades}}
                  <li>{{this}}</li>
                {{/each}}
        </ul>
      </div>
    </div>
        <div class="card_ranking_cierre">
            <div class="card_ranking_titulo">
                <div class="titulo_ranking">
                  <h2>Ranking por promedio de tiempo de cierre</h2>
                </div>
            </div>
          <div class = "contenido_ranking">
            <ul>
                {{#each rankingCierre}}
                  <li>{{this}}</li>
                {{/each}}
            </ul>
          </div>
        </div>
    </div>
</body>
 {{/partial}}
 {{> layoutConBarra.html.hbs }}