 {{#partial "principal" }}
<body>
  <div class="container container_r">
    <div class="card_ranking_cantidad">
      <div class="card_ranking_titulo">
        <div class = "titulo_ranking">
            <h2>Ranking por cantidad de incidentes</h2>
        </div>
      </div>
      <div class = "card_ranking">
        <ul class = "contenido_ranking">
                <li> <strong>Posición </strong></li>
                <li> 1 </li>
                <li> 2 </li>
                <li> 3 </li>
                <li> 4 </li>
                <li> 5 </li>
                <li> 6 </li>
                <li> 7 </li>
                <li> 8 </li>
                <li> 9 </li>
                <li> 10 </li>
        </ul>
        <ul class = "contenido_ranking">
                <li><strong> ENTIDAD </strong></li>
                {{#each rankingCantidad}}
                  <li>{{this}}</li>
                {{/each}}
        </ul>
        <ul class="contenido_ranking">
                <li><strong> Cantidad de incidentes </strong></li>
                {{#each cantidades}}
                  <li>{{this}}</li>
                {{/each}}
        </ul>
      </div>
    </div>
        <div class="card_ranking_cierre">
            <div class="card_ranking_titulo">
                <div class="titulo_ranking">
                  <h2>Ranking por promedio de tiempo de cierre</h2>
                </div>
            </div>
          <div class = "card_ranking">
            <ul class = "contenido_ranking">
               <li> <strong>Posición </strong></li>
               <li> 1 </li>
               <li> 2 </li>
                <li> 3 </li>
                <li> 4 </li>
                <li> 5 </li>
                <li> 6 </li>
                <li> 7 </li>
                <li> 8 </li>
                <li> 9 </li>
                <li> 10 </li>
            </ul>
            <ul class = "contenido_ranking">
                <li><strong> ENTIDAD </strong></li>
                {{#each rankingCierre}}
                  <li>{{this}}</li>
                {{/each}}
            </ul>
            <ul class="contenido_ranking">
                <li><strong> Cantidad de horas </strong></li>
                {{#each promedios}}
                  <li>{{this}}</li>
                {{/each}}
            </ul>
          </div>
        </div>
    </div>
</body>
 {{/partial}}
 {{> layoutConBarra.html.hbs }}