 {{#partial "principal" }}
    <div class="contenedor"> contenedor, titulo, cards
           <div class="titulo">
               <h1>Servicios de {{ establecimiento }}</h1>
           </div>
           <div class="cards_servicio">
               <ul>
                   <div class='card_servicio'>
                       <li>
                           <div class="titulo_servicio">
                               <h1>Servicios</h1>
                           </div>
                           <div class = "servicios">
                               <ul>
                                   <li>
                                       <div class = "servicio">
                                           <h2>{{nombre_servicio}}</h2>
                                           <form method="post" action="#">
                                               <button type="submit" class="boton_enviar">
                                                   Abrir
                                               </button>
                                           </form>
                                       </div>
                                   </li>

                               </ul>
                           </div>
                       </li>
                   </div>
               </ul>
           </div>
       <div>
 {{/partial}}
 {{> layout.html.hbs }}